<div class="secrets-page">
    <p-tabs value="stores">
        <p-tablist>
            <p-tab value="stores">
                <i class="pi pi-lock mr-2"></i>
                Secret Stores
            </p-tab>
            <p-tab value="external">
                <i class="pi pi-key mr-2"></i>
                External Secrets
            </p-tab>
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel value="stores">
                <app-secret-store-list></app-secret-store-list>
            </p-tabpanel>
            <p-tabpanel value="external">
                <app-external-secret-list></app-external-secret-list>
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>
</div>
