<div class="identity-page">
    <p-tabs value="users">
        <p-tablist>
            <p-tab value="users">
                <i class="pi pi-user mr-2"></i>
                Users
            </p-tab>
            <p-tab value="groups">
                <i class="pi pi-users mr-2"></i>
                Groups
            </p-tab>
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel value="users">
                <app-user-list></app-user-list>
            </p-tabpanel>
            <p-tabpanel value="groups">
                <app-group-list></app-group-list>
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>
</div>